    <!--make this handlebars have form here and on button click send user to game route, add username to db-->

    <form action="/users" method="POST">
        <label>Username: </label>
        <input name="userName" type="text" class="form-control">
        <label>Password: </label>
        <input name="password" type="text" class="form-control">
        <button class="btn btn-info">Submit</button>
    </form>